name: Update MikroTik Tracker List
on:
  schedule:
    - cron: '0 0 * * *' # 每天凌晨 12 点运行
  workflow_dispatch: # 支持手动运行

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: pip install requests
      - name: Generate Script
        run: python generate_mt_script.py
      - name: Commit and Push
        run: |
          git config --global user.name "actions-user"
          git config --global user.email "action@github.com"
          git add tracker_list.rsc
          git commit -m "Update tracker list" || exit 0
          git push
